* {
  box-sizing: border-box;
  text-align: center;
}

body{
	font-family: Arial;
	font-size: 18px;
	background-color: #777;
	text-align: center;
	font-color: #ebebeb;
	width: 960px;
}

header{
	float: left;
	width: 100%;
	background: lightgray;
	padding: 40px;
	margin: 0 10px 10px 10px;
}


nav{
	float: left;
	width: 100%;
	background: lightgray;
	padding: 40px;
	margin: 0 10px 20px 10px;
}

#jumble{
	overflow: auto;
	clear: both;
	width: 60%;
}

section{
	overflow: auto;
	clear: both;
	float: left;
	width: 60%;
	background: lightgray;
	padding: 10px;
	margin: 2px 10px;

}

article{
	clear: both;
	background-color: #777;
	height: 150px;

}

h1 {
	background: red;
	z-index: 1;
}

h2 {
	background: green;

}
	
h3 {
	background: yellow;

}

p{
	float: left;
	width: 100%;
	background: lightgray;
	padding: 40px;


}
	
aside{
	clear: both;
	float: left;
	width: 40%;
	background: lightgray;
	padding: 40px;
	margin: 10px;
	height: 300px;
}

footer{
	clear: both;
	font-family: Arial;
	font-size: 18px;
	background-color: #777;
	text-align: center;
	font-color: #ebebeb;
	width: 960px;
}

</style> 
<!-- END CSS -->