* {
  box-sizing: border-box;
  text-align: center;
}

body {
	font-family: Arial;
	font-size: 18px;
	background-color: #777;
	text-align: center;
	font-color: #ebebeb;
	width: 960px;
}

header {
	float: left;
	width: 100%;
	background: lightgray;
	padding: 40px;
	margin: 0 0px 10px 200px;
}

nav {
	float: left;
	width: 100%;
	background: lightgray;
	padding: 40px;
	margin: 0 0px 10px 200px;
}

.container {
	clear: both;
	float: left;
	background: lightgray;
	height: 300px;
	margin: 0 0 10px 200px;
	padding: 30px 0 0 0;
	width: 556px;
}

.article1 {
	background: #777;
	color: white;
	padding: 30px 0 100px 0;
	margin: 15px 15px 0 15px;
	height: 220px;
	width: 94%;
}


.hs {

	float: left;		
	background: darkgray;
	padding: 20px;
	margin: 15px 15px 0 15px;
	width: 80%;
}

p {

	float: left;	
	background: blue;
	padding: 20px;
	margin: 5px 15px;
	width: 80%;
}


aside {
	clear: both;
	overflow: auto;
	float: left;
	background: #fff;
	content: 50;
	margin: 25px;
	padding: 10px;
}

footer {
	clear: both;
	background: lightgray;
	font-family: Arial;
	font-size: 18px;
	margin: 0 0px 10px 200px;
	padding: 40px;
	text-align: center;
	width: 100%;
}

</style> 
<!-- END CSS -->