

body{
	font-family: Arial;
	font-size: 18px;
	background-color: #777;
	text-align: center;
	font-color: #ebebeb;
	width: 960px;
}

header{
	float: left;
	width: 100%;
	background: lightgray;
	padding: 40px;
	margin: 10px;
}


nav{
	float: left;
	width: 100%;
	background: lightgray;
	padding: 40px;
	margin: 10px;
}

section{
	float: left;
	width: 60%;
	background: lightgray;
	padding: 40px;
	margin: 10px;
	height: 300px;
}

article{
	float: left;
	width: 40%;
	background: lightgray;
	padding: 40px;
	margin: 10px;
	height: 300px;
}

h1 {

}

h2 {

}
	
h3 {

}

p{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
	
aside{

}

footer{
		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}



















</style> 
<!-- END CSS -->